### Python fundamentos

## Operators

In [1]:
#soma
4+4

8

In [2]:
#mult
4*4

16

In [3]:
#exp
4**4

256

In [4]:
#mod
4%2

0

In [5]:
#parte inteira divisao
print(8//3)
print(4//3.0)

2
1.0

## Types

In [6]:
type(4*2.1)

float

## Conversão

In [7]:
print(float(3))
print(int(3.14))

3.0
3

## hexadecimal/bin

In [8]:
print(hex(3))
print(bin(3))

0x3
0b11

In [9]:
#valor absoluto modulo
abs(-10e15)

1e+16

## variaveis

In [10]:
int_variable = 20
print(int_variable)

20

In [11]:
bol_variable = True and True
print(bol_variable)

True

In [12]:
#declaracao mult
fruta_one,fruta_two,fruta_three = "banana","maca","morango"
print(fruta_one)
print(fruta_two)
print(fruta_three)

banana
maca
morango

## String

In [13]:
print("concat"+"-"+"full")
nome = "Neres"
print(nome[0])
nome = "Cabral"
print(nome.upper())

concat-full
N
CABRAL

In [14]:
#slicing é exclusivo nao conta o ultimo carecter
print(nome[2:4])
print(nome[-1])

br
l

In [15]:
#retorna um pula um
print(nome[::2])

Cba

In [16]:
nome.lower().capitalize()

'Cabral'

## Listas

sem restrições de tipos
aninhamentos

In [17]:
lista  = ['dados 1','dados 2', 'dados 3','dados5', 'dados 6']
lista2 = [1,2,3,5]
print(lista)
print(lista[0])

['dados 1', 'dados 2', 'dados 3', 'dados5', 'dados 6']
dados 1

In [18]:
# removendo listra
del lista[0]
print(lista)

['dados 2', 'dados 3', 'dados5', 'dados 6']

In [19]:
# exclusivo assim como a string
print(lista[:-1])

['dados 2', 'dados 3', 'dados5']

concatenacao de listas

In [20]:
lista_maior = lista + lista2
print(lista + lista2)

['dados 2', 'dados 3', 'dados5', 'dados 6', 1, 2, 3, 5]

In [21]:
print(1 in lista_maior)

True

### built-in

In [22]:
# tamanho
print(len(lista_maior))
# valor maximo somente em numericos
print(max(lista2))
# valor minimo somente em numericos
print(min(lista2))
# tipo
print(type(lista_maior))

8
5
1
<class 'list'>

In [23]:
#adicionando itens
lista_maior.append(5)
print(lista_maior)
print(lista_maior.count('dados 2'))

['dados 2', 'dados 3', 'dados5', 'dados 6', 1, 2, 3, 5, 5]
1

In [28]:
lista2.extend([6,7,8,9,10])
print(lista2)

[1, 2, 3, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [29]:
lista2.index(5)

3

In [30]:
lista2.insert(0,-1)
print(lista2)

[-1, 1, 2, 3, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

## Dicionários

estrutura com chave e valor {x:y,alpha:z}

In [31]:
dicionario = {'Marcelo':1,'Neres':2,'Cabral':3}
print(dicionario)

{'Marcelo': 1, 'Neres': 2, 'Cabral': 3}

In [32]:
dicionario["Baixo"] =4
print(dicionario)

{'Marcelo': 1, 'Neres': 2, 'Cabral': 3, 'Baixo': 4}

In [34]:
dicionario.clear()
print(dicionario)

{}

In [35]:
del dicionario

In [36]:
dicionario = {'Trotisk':1,'Frida':2,'Diego':3}

In [37]:
len(dicionario)

3

In [38]:
dicionario.keys()

dict_keys(['Trotisk', 'Frida', 'Diego'])

In [40]:
dicionario.values()

dict_values([1, 2, 3])

In [39]:
dicionario.items()

dict_items([('Trotisk', 1), ('Frida', 2), ('Diego', 3)])

In [42]:
dicionario2 = {'Napoleão':4,'Stalin':5,'Orwell':6}
dicionario.update(dicionario2)
print(dicionario)

{'Trotisk': 1, 'Frida': 2, 'Diego': 3, 'Napoleão': 4, 'Stalin': 5, 'Orwell': 6}

## Tuplas

semelhante a lista só que imutaveis (1,2,3,4)
Nao suporta append - delecao de elementos

In [52]:
tupla = (1,2,3)
print(tupla)

(1, 2, 3)

In [53]:
# posso converter pra lista alterar e voltar pra tupla
lista_da_tupla = list(tupla)
lista_da_tupla.append(4)
tupla2 = tuple(lista_da_tupla)
print(tupla2)

(1, 2, 3, 4)