# SQL

In [1]:
import os
os.remove('arquivos/filo.db') if os.path.exists('arquivos/filo.db') else None

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('arquivos/filo.db')

In [4]:
type(conn)

sqlite3.Connection

In [5]:
#permite navegar nos registros 
curs = conn.cursor()

In [6]:
# Cria uma instrução sql
sql_create = 'create table filosofos '\
'(id integer primary key, '\
'nome varchar(100), '\
'escola varchar(50))'

In [7]:
curs.execute(sql_create)

In [8]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into filosofos values (?, ?, ?)'

In [9]:
filosofos = [
    (1,'Platão','Clássica'),
    (2,'Kant','Moderna'),
    (3,'Sarte','Existencialismo'),
    (4,'Camus','Absurdismo')
]

In [10]:
for filosofo in filosofos:
    curs.execute(sql_insert,filosofo)
conn.commit()

In [11]:
list_filos = curs.execute('SELECT * FROM filosofos')

In [12]:
print(list_filos.fetchall())

[(1, 'Platão', 'Clássica'), (2, 'Kant', 'Moderna'), (3, 'Sarte', 'Existencialismo'), (4, 'Camus', 'Absurdismo')]

In [13]:
conn.close()