# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 8</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

### Exercícios Sobre Módulos Python Para Análise de Dados

### ****** ATENÇÃO ******
### Alguns dos exercícios podem requerer pesquisa adicional na documentação dos pacotes. Pesquise!

### Exercício 1

In [12]:
import numpy as np

In [13]:
# Crie um array NumPy com 1000000 e uma lista com 1000000.
%time
narray = np.arange(0,1000000,1)
%time
# Multiplique cada elemento do array e da lista por 2 e calcule o tempo de execução com cada um dos objetos (use %time).
plus_2 = narray * 2
%time

print(plus_2.shape)
# Qual objeto oferece melhor performance, array NumPy ou lista?

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.72 µs
CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.2 µs
CPU times: user 5 µs, sys: 1 µs, total: 6 µs
Wall time: 11 µs
(1000000,)

In [11]:
# Crie um array NumPy com 1000000 e uma lista com 1000000.
%time
list_test = [x for x in range(1000000)]
%time
# Multiplique cada elemento do array e da lista por 2 e calcule o tempo de execução com cada um dos objetos (use %time).
list_plus_2 = [x*2 for x in list_test]
%time
print(list_test[0:2])
print(list_plus_2[0:2])
print(len(list_test))
print(len(list_plus_2))

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.2 µs
CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.96 µs
CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.44 µs
[0, 1]
[0, 2]
1000000
1000000

### Exercício 2

In [18]:
# Exercício 2
# Crie um array de 10 elementos
list_test = np.arange(10)
print(list_test)
# Altere o valores de todos os elementos dos índices 5 a 8 para 0
list_test[4:8] = 0
print(list_test)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 0 0 0 0 8 9]

### Exercício 3

In [19]:
# Crie um array de 3 dimensões e imprima a dimensão 1 
n = [np.arange(10),np.arange(10),np.arange(10)]
print(n[0])

[0 1 2 3 4 5 6 7 8 9]

### Exercício 4

In [23]:
# Crie um array de duas dimensões (matriz).
n = [np.arange(10),np.arange(10)]
# Imprima os elementos da terceira linha da matriz
n.append(np.arange(10))
# Imprima todos os elementos da primeira e segunda linhas e segunda e terceira colunas
print(n)

[array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])]

### Exercício 5

In [26]:
# Calcule a transposta da matriz abaixo
arr = np.arange(15).reshape((3, 5))
arr
print(arr.T)

[[ 0  5 10]
 [ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]]

### Exercício 6

In [32]:
# Considere os 3 arrays abaixo
# Retorne o valor do array xarr se o valor for True no array cond. Caso contrário, retorne o valor do array yarr.
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])
for index,x in enumerate(cond):
    if(x):
        print(str(xarr[index])+'-'+str(x))
    else:
        print(str(yarr[index])+'-'+str(x))

1.1-True
2.2-False
1.3-True
1.4-True
2.5-False

### Exercício 7

In [42]:
import uuid
uuidOne = uuid.uuid4()
# Crie um array A com 10 elementos e salve o array em disco com a extensão npy
data = np.asarray(np.arange(10))
print(data)
arquivo = '../arquivos/'+str(uuidOne)+'_data.csv'

# Depois carregue o array do disco no array B
np.savetxt(arquivo, data, delimiter=',')
acsvNp = np.genfromtxt(arquivo, delimiter=',')
print(acsvNp)

[0 1 2 3 4 5 6 7 8 9]
[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]

### Exercício 8

In [44]:
# Considerando a série abaixo, imprima os valores únicos na série
import pandas as pd
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c', 'a', 'b'])
print(obj.unique())

['c' 'a' 'd' 'b']

### Exercício 9

In [47]:
# Considerando o trecho de código que conecta em uma url na internet, imprima o dataframe conforme abaixo.
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [53]:
data = resp.json()
df = pd.DataFrame(data,columns=['id','title','author_association','created_at'])
df.head()

,id,title,author_association,created_at
0,747692661,Should FilePathorBuffer use os.PathLike instea...,NONE,2020-11-20T18:01:26Z
1,747599476,BUG: CategoricalIndex.where nulling out non-ca...,MEMBER,2020-11-20T15:57:12Z
2,747250868,BUG: fix astype conversion string -> float,NONE,2020-11-20T07:36:46Z
3,747145308,BLD: set inplace in setup.cfg,MEMBER,2020-11-20T04:42:33Z
4,747121893,TST: add nullable array frame constructor dtyp...,MEMBER,2020-11-20T04:04:52Z

### Exercício 10

In [ ]:
import os
os.remove('../arquivos/test.db') if os.path.exists('../arquivos/test.db') else None
import sqlite3
# Crie um banco de dados no SQLite, crie uma tabela, insira registros, 
# criando conexao
conn = sqlite3.connect('../arquivos/test.db')
curs = conn.cursor()
# criando tabela
sql_create = 'create table filosofos '\
'(id integer primary key, '\
'nome varchar(100), '\
'escola varchar(50))'

# criando filosofos
sql_insert = 'insert into filosofos values (?, ?, ?)'
filosofos = [
    (1,'Platão','Clássica'),
    (2,'Kant','Moderna'),
    (3,'Sarte','Existencialismo'),
    (4,'Camus','Absurdismo')
]


# consulte a tabela e retorne os dados em dataframe do Pandas

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>